#HOSTNAME=""
#SANDBOX_DIR=""

#SHARE_X11=1
#SHARE_DRI=1
#SHARE_AUDIO=1
#SHARE_WAYLAND=1
#SHARE_RAW_DBUS=0
#NESTED=0
#FAKEROOT=0
#VERBOSE=0

#SHARE_PKI=ro
#GUI_GTK_CONFIG=1
#GUI_ICONS=1
#GUI_FONTS=1
#GUI_FONTCONFIG=1
#GUI_IBUS_ENV=1

#EXTRA_SHARES+=()
#EXTRA_SHARES_RO+=()
#EXTRA_BWRAP_OPTIONS+=()
#DBUS_PROXY_SESSION_OPTIONS+=()
#DBUS_PROXY_SYSTEM_OPTIONS+=()
#DEBUG_DBUS=0